<% if @driver.nil? && @passenger.nil? %>
<h3>Trips</h3>
<%elsif !@driver.nil? %>
<h3> <%= @driver.name %>'s Trips</h3>
<% elsif !@passenger.nil? %>
<h3> <%= @passenger.name %>'s Trips</h3>
<% end %>

  <table>
    <tr>
      <th>ID</th>
      <th>Date</th>
      <th>Driver</th>
      <th>Cost</th>
      <th>Rating</th>
    </tr>
    <% @trips.each do |trip|  %>
      <td>
          <%= link_to trip.id, trip_path(trip.id) %>
        </td>
        <td>
          <%= trip.date.strftime("%m/%d/%Y")%>
        </td>
        <td>
           <%= link_to trip.driver_id, driver_path(trip.driver) %>
        </td>
         <td>
          <%= link_to trip.passenger_id, passenger_path(trip.passenger) %>
        </td>
        <td>
          <%= number_to_currency(trip.cost) %>
        </td>
        <td>
          <%= trip.rating %>
        </td>
      </tr>
  <% end %>
  </table>