<%# TODO delete thisis

<% if @driver.nil? && @passenger.nil? % >
<h3>Trips</h3>
<%elsif !@driver.nil? %>
<h3> <%=  @driver.name %>'s Trips</h3>
<% elsif !@passenger.nil? %>
<h3> <%= @passenger.name %>'s Trips</h3>
<% end %>
<%# TODO if we have time, I'd like to move the trips back to the show pages rather than index. With the index we have to show both rider/driver regardless of if we are on the driver / rider page, so there's a long list that's the same. Displaying the list on driver/rider show views let us customize the view for the drivers (don't show the same repeated driver ID) and riders (don't show the same repeated rider ID ) % >
  <table class="table">
    <tr>
      <th>ID</th>
      <th>Date</th>
      <th>Driver</th>
      <th>Rider</th>
      <th>Cost</th>
      <th>Rating</th>
    </tr>
    <% @trips.each do |trip|  % >
      <td>
          <%= link_to trip.id, trip_path(trip.id) % >
        </td>
        <td>
          <%= trip.date.strftime("%m/%d/%Y") % >
        </td>
        <td> 
           <%= link_to trip.driver_id, driver_path(trip.driver) % >
        </td>
         <td>
          <%= link_to trip.passenger_id, passenger_path(trip.passenger) % >
        </td>
        <td>
          <%= number_to_currency(trip.cost) % >
        </td>
        <td>
          <%= trip.rating % >
        </td>
      </tr>
  <% end % >
  </table>

  %>