<h1> <strong>Rider name: </strong><%=  @passenger.name %> </h1>

<h5><strong>Phone Number: </strong><%= @passenger.phone_num %></h5>

<%= link_to "Edit", edit_passenger_path(@passenger.id) %> | 
<%= link_to "Delete", passenger_path(@passenger.id), method: :delete, data: {confirm: "Are you sure?"} %>

<p> <%= link_to "Return to Riders List", passengers_path %> </p>


