<section class="people-form">

  <% if @driver.errors.any? %>
    <ul class="errors">
      <% @driver.errors.each do |column, message| %>
        <li>
          <strong><%= column.capitalize %></strong> <%= message %>
        </li>
      <% end %>
    </ul>
  <% end %>


  <%= form_with model: @driver, class: 'create-form' do |f| %>
  <div>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  <div>
    <%= f.label :vin %>
    <%= f.text_field :vin %>
  </div>
  <div>
    <%= f.label :available %>
    <%= f.check_box :available, { checked: true } %>
  </div>
  <div>
    <%= f.submit action_name, :class => 'button-submit' %>
  </div>
  <% end %>
</section>