<%= form_with model: @driver, class: 'create-form' do |f| %>
<p>What task would you like to update?</p>
<div>
  <%= f.label :name %>
  <%= f.text_field :name %>
</div>
<div>
  <%= f.label :vin %>
  <%= f.text_field :vin %>
</div>
<div>
  <%= f.label :available %>
  <%= f.check_box :available %>
</div>
<div>
  <%= f.submit action_name, class: "driver-button"%>
</div>
<% end %>