<h2>Drivers</h2>
<ul>
  <% @drivers.each do |driver|  %>

    <li>
      <strong><%= link_to driver.name, driver_path(driver) %></strong> <br /> 
      <span><strong>VIN: </strong><%= driver.vin %></span>
      <span><strong>Status: </strong><%= driver.available %></span>
      <br />
      <%= link_to "Edit", edit_driver_path(driver.id) %> |
      <%= link_to "Delete", driver_path(driver), method: :delete, data: {confirm: "Are you sure?"} %>
    </li>
  <% end %>

</ul>