<h2> <strong>Driver name: </strong><%=  @driver.name %> </h2>

<h5><strong>VIN: </strong><%=@driver.vin%></h5>
<h5><strong>Status: </strong><%= @driver.available ? "Available" : "Not Available" %></h5>
<h5><strong>Total Earnings: </strong></h5>
<h5><strong>Average Rating: </strong></h5>


<%= link_to "Edit", edit_driver_path(@driver.id) %> | 
<%= link_to "Delete", driver_path(@driver.id), method: :delete, data: {confirm: "Are you sure?"} %>

<p> <%= link_to "Return to Drivers List", drivers_path %> </p>


