<!DOCTYPE html>
<html>
  <head>
    <title>RideShareRails</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <header>
  <nav>
    <h1>New Friends Ride Share</h1>
    
    <div>
      <button class="home-btn"><a href="/">Home </a></button>
    </div>
    <div class="dropdown">
      <button class="dropbtn"><%= link_to "Riders ", passengers_path %></button>
      <div class="dropdown-content">
        <%= link_to "View All Riders", passengers_path %> 
        <%= link_to "Add a New Rider", new_passenger_path %>
      </div>
    </div>
    <div class="dropdown">
      <button class="dropbtn"><%= link_to "Drivers ", drivers_path %></button>
      <div class="dropdown-content">
          <%= link_to "View All Drivers", drivers_path %>
          <%= link_to "Add a New Driver", new_driver_path %>
      </div>
    </div>

    </nav>
  </header>
  <body>
    <%= yield %>
  </body>
</html>
