<!DOCTYPE html>
<html>
  <head>
    <title>RideShareRails</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <header>
    <h1>Welcome to Ada Ride Share</h1>
    <nav>
      <ul>
        <li>Home</li>
        <li>Riders</li>
        <li>Drivers</li>
      </ul>
    </nav>
  </header>
  <body>
    <%= yield %>
  </body>
</html>
